.home {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: #000;
  display: flex;
  justify-content: center;
}
swiper-container,swiper-slide{
  width: 100%;
  height: 100vh;
  overflow: hidden; 
}
#canvas{
  position: absolute;
  background: url("~@/assets/img/sky.jpg");
 }